
config TDTCP
	bool "TDTCP: Time-division TCP"
	depends on INET
	select SKB_EXTENSIONS
	default y
	help
	  Time-division TCP (TDTCP) connections can adapt to rapidly changing
	  network conditions such as bandwidth and latency, while achieving a
	  better performance than normal TCP.

config TDTCP_DEV
	bool "TDTCP dev features"
	depends on TDTCP
	default y
	help
	  Decides whether the dev features of TDTCP are enabled.

config PER_SOCK_TDN
	bool "Per-socket TDN ID"
	depends on TDTCP
	default y
	help
	  Each socket has its own current TDN ID associated when enabled.
