
config TDTCP
	bool "TDTCP: Time-division TCP"
	depends on INET
	select SKB_EXTENSIONS
	default y
	help
	  Time-division TCP (TDTCP) connections can adapt to rapidly changing
	  network conditions such as bandwidth and latency, while achieving a
	  better performance than normal TCP.
